@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin : 0;
  padding : 0;
}

.App {
  padding : 5px;
}

.mainTitle {
  text-align: center;
  font-family: 'Passion One', cursive;
}

.graphTitle {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}